//- btns
.btns.btn_large.help__btn(id="btns_help")
//- .btns.online__btn.btn_large(id="btns_online")
.btns.btn_large.setting__btn(id="btns_settings")
    //- .sett__alert !
a.btns.btn_large.skype__btn(href="https://join.skype.com/wyname" target="_blank")
a.btns.btn_large.vk__btn(href="https://vk.com/wyname" target="_blank")
//- .btns.flag__btn(id="btns_flag")
.btns.btn_large.zoop__btn(id="btns_zoop")
.btns.btn_large.zoom__btn(id="btns_zoom")
.btns.btn_large.rotl__btn(id="btns_rotl")
.btns.btn_large.rotr__btn(id="btns_rotr")
//- .btns.rota__btn(id="btns_rota")
//- .btns.rotn__btn.btn_large(id="btns_rotn")
.btns.compass_btn(id="compass")
.btns.btn_large.globus__btn(id="glob_btn")