.loading(id="loading")
    .loading__text what's your name
    //- .loading__text Если эта надпись не пропадает, вероятно ваш браузер здесь не подходит. Используйте Яндекс.Браузер или Google&nbsp;Chrome!
