.map-container(id="map_container")
    .hidden(id="copyright")
    //- include yamaps_copyright
    .glob(id="glob")
        .close__btn.btn_large
        .toback__btn.btn_large
        .refresh__btn.btn_large
    .map.hidden(id="map")