.nums(id="nums")
    .nums__stats
        .nums__score.nums__score_total
            .nums__value.nums__value_total 0
            .plus__btn.btn_small
            .minus__btn.btn_small
        .nums__score.nums__score_month
            .nums__value.nums__value_month 0
            .plus__btn.btn_small
            .minus__btn.btn_small
        .nums__score.nums__score_prev
            .nums__value.nums__value_prev 0
            .plus__btn.btn_small
            .minus__btn.btn_small
    .nums__menu
        .close__btn.btn_small
        .help__btn.btn_small.btn_off
        .times__btn.btn_small
        .setting__btn.btn_small
        .text__btn.btn_large.text__btn_oneplus +1