.settings(id="settings")
    .sett__form
        .sett__caption Ваш пол/возраст:
        .sett__sex-data
            .sett__btn(data-sex="sn") ?
            .sett__btn(data-sex="sm") M
            .sett__btn(data-sex="sf") Ж
        .sett__age-data
            .sett__btn(data-age="an") ?
            .sett__btn(data-age="aa")
                small -14
            .sett__btn(data-age="ab")
                sup 15
                sub 17
            .sett__btn(data-age="ac")
                sup 18
                sub 24
            .sett__btn(data-age="ad")
                sup 25
                sub 44
            .sett__btn(data-age="ae")
                sup 45
                sub 59
            .sett__btn(data-age="af")
                small 60+
        .sett__caption С кем вы желаете встречаться:
        .sett__filter_m
            .sett__btn.off М
            .sett__btn(data-filter="ma")
                small -14
            .sett__btn(data-filter="mb")
                sup 15
                sub 17
            .sett__btn(data-filter="mc")
                sup 18
                sub 24
            .sett__btn(data-filter="md")
                sup 25
                sub 44
            .sett__btn(data-filter="me")
                sup 45
                sub 59
            .sett__btn(data-filter="mf")
                small 60+
        .sett__filter_f
            .sett__btn.off Ж
            .sett__btn(data-filter="fa")
                small -14
            .sett__btn(data-filter="fb")
                sup 15
                sub 17
            .sett__btn(data-filter="fc")
                sup 18
                sub 24
            .sett__btn(data-filter="fd")
                sup 25
                sub 44
            .sett__btn(data-filter="fe")
                sup 45
                sub 59
            .sett__btn(data-filter="ff")
                small 60+
