//- yandex logo
.ya-copyright.hidden(id="copyright")
    .ya-copyright__content-cell
        .ya-copyright__text © Яндекс
        a.ya-copyright__agreement(target="_blank" href="http://yandex.ru/legal/maps_termsofuse/") Условия
    .ya-copyright__logo-cell
        a.ya-copyright__link(href="https://yandex.ru/maps/" target="_blank")